.navbar-brand {
  position: relative;
  float: left;
  height: 50px;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}
section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/elmsln-background-snowflakes-dark.jpg');
  padding: 250px 0;
}
header .snowflake-container {
  max-width: 300px;
  margin: 0 auto;
}
header .snowflake-container .screen img {
  border-radius: 3px;
}
header .snowflake-container {
  max-width: none;
  max-height: calc(0vh);
  margin: 100px auto 0;
}
@media (min-width: 992px) {
  section.features .snowflake-container,
  section.features .feature-item {
    max-width: none;
  }
}
section.features .snowflake-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}
section.features .snowflake-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .snowflake-container {
    margin-bottom: 0;
  }
}
img.logo {
  width: 120px;
  height: auto;
  margin: 0 auto;
}
img.snowflake-color,
img.snowflake-bw {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
section.contact ul.list-social li.social-github a {
  background-color: #000000;
}
section.contact ul.list-social li.social-github a:hover {
  background-color: #737373;
}
section.contact ul.list-social li.social-slack a {
  background-color: #009999;
}
section.contact ul.list-social li.social-slack a:hover {
  background-color: #00cccc;
}