---
layout: default
title: About
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="about-header">
  <!-- TOP BAR -->
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-title">
          <!-- <a class="shield" href="http://psu.edu"><img alt="The Penn State University Sheild" src="../assets/img/psu_arch_shield_blue.svg"/></a>
          <a class="masthead" href="/"><img alt="The College of Arts and Architecture Masthead" src="../assets/img/psu_arch_masthead_blue.svg"/></a> -->
          <a class="masthead" href="/"><img alt="The Pennsylvania State University" src="../assets/img/elmsln-logo.png"/></a>

    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>


      </div>
      <div id="responsive-menu">
        <!-- <div class="nav-container"> -->
          <div class="top-bar-left"></div>
          <div class="top-bar-right">
            <ul class="menu">
              {% for menuitem in site.menuitems %}
              {% if menuitem.url == page.dir %}
                  {% assign class = "active" %}
              {% else %}
                  {% assign class = "normal" %}
              {% endif %}
                  <li class="{{ class }}"><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
              
              <li class="apply-topbar-button"><a href="https://github.com/elmsln/elmsln" target="_blank">Join Us</a></li>
            </ul>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->
  <div class="row quote-row">
    <div class="small-12 columns">
      <h1 class="secondary-page-heading">{{ page.title }}</h1>
    </div>
    <div class="small-12 columns">
      <h2 class="quote">Integration with integrity</h2>
    </div>
  </div>

</div>
<!-- END HEADER -->

<!-- PATHWAYS -->
<div class="row secondary-tabs-row">
    <div class="small-9 medium-8 large-6 small-centered columns">
      <ul class="tabs" data-tabs id="about-tabs">
        <li class="tabs-title tabs-first is-active"><a href="#student-panel">What is ELMS:LN?</a></li>
        <li class="tabs-title tabs-second"><a href="#meet-panel" aria-selected="true">Meet the Team</a></li>
      </ul>
    </div>
</div>
<div class="row head-spacing">
  <div class="tabs-content small-12 columns" data-tabs-content="about-tabs">
    
    <div class="tabs-panel is-active" id="student-panel">
      <h2 class="callout-heading">What is ELMS:LN?</h2>
      <p>ELMS Learning Network (ELMSLN) is an open source educational technology platform for building and sustaining innovation in course technologies. It is not a traditional LMS but a Next Generation Digital Learning Environment (NGDLE) that utilizes a Suite of Tools approach to system design. Think Google Apps but for colleges, institutions or even individual professors to run and control. An ecosystem of educational technologies that know how to work together, utilize industry standards like REST, xAPI and LTI(1.2) and can grow infinitely because of the philosophy of the design (yes, infinitely). Each course forms a network of technologies (hence the name Learning Network) which can then be better tailored to each individual course's needs.</p>
      <p>ELMSLN is 100% open source, using a best of breeds approach to open systems development. It's primary underlying technology is Drupal which has a massive development community in the Content Management System (CMS) space. By building on a CMS rather then a pure LMS, ELMSLN is able to leverage the collective minds of some of the best and brightest in the CMS development community, while influencing the implementation of that technology by faculty, instructional technologists and instructional designers.</p>
      <p>The project originated at The Pennsylvania State University's College of Arts & Architecture but has grown into an organic collaboration between multiple Penn State Colleges and other institutions and community facilitators. ELMSLN courses and systems have been demonstrated at national and international conferences and aspects of ELMSLN have won Campus Technology Innovator awards (Open Studio / ELMS Media) as well as been featured at OpenEd (2014), DrupalCon Austin (2014), and OpenApereo (2016).</p>
    </div>
    <div class="tabs-panel" id="meet-panel">
    {% include team-profile.html %}
    </div>
  </div>
</div>